.container {
  width: 1440px;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
  font-family: "Roboto", sans-serif;
}

.hidden {
  display: none !important;
}

.list__active {
  background: linear-gradient(0deg, rgba(0, 102, 255, 0.15) 0%, #fafafa 50%);
  background: -moz-linear-gradient(0deg, rgba(0, 102, 255, 0.15) 0%, #fafafa 50%);
  border-bottom: #0066ff;
}
.list__active div {
  color: #0066ff;
}

.background {
  background: url(/img/Backgroudn\ Gradient.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.background__bottom {
  background: url(/img/Backgroudn\ Gradient.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 30px;
  background-position-y: 100px;
}

.header {
  padding: 24px;
  margin-bottom: 45px;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo {
  color: white;
  font-size: 23px;
}

.header__links {
  display: flex;
  gap: 40px;
}
.header__links a {
  text-decoration: none;
  color: #272f3a;
}

.header__register {
  position: relative;
  display: flex;
  align-items: center;
  color: white;
  border: 1px solid white;
  border-radius: 100px;
  padding: 14px 30px;
  gap: 20px;
}
.header__register a {
  text-decoration: none;
  color: white;
}

.header__arrow {
  padding: 5px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 6px;
  right: 4px;
}

.hero__text-top {
  background-color: white;
  color: #002b6b;
  max-width: 320px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
  padding: 8px 5px;
  gap: 5px;
}

.hero__title {
  font-size: 72px;
  color: #002b6b;
  margin-top: 16px;
  margin-bottom: 16px;
  font-weight: 400;
}

.hero__text-bottom {
  color: #6c7787;
  max-width: 430px;
  margin: 0 auto;
  margin-bottom: 38px;
  font-size: 18px;
}

.hero__wrapper {
  text-align: center;
  max-width: 846px;
  margin: 0 auto;
}

.hero__search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: 8px;
}
.hero__search-input {
  color: #EDEDED;
  border-radius: 56px;
  border: none;
}

.hero__inputs {
  background-color: white;
  border: 1px solid #EDEDED;
  border-radius: 56px;
  display: flex;
  padding: 4px 8px;
}
.hero__inputs div {
  display: flex;
  align-items: center;
  gap: 8px;
}
.hero__inputs input {
  padding: 12px 24px;
}

.hero__button {
  cursor: pointer;
  background-color: #0066FF;
  color: white;
  padding: 16px 40px;
  border-radius: 100px;
  border: none;
}

.hero__swiper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 80px;
}

.swiper-wrapper {
  transition-timing-function: linear !important;
}

.swiper {
  width: auto;
}

.swiper-slide img {
  display: block;
  width: 287px;
  height: 338px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.discover {
  margin-bottom: 170px;
}

.discover__title {
  font-size: 56px;
  color: #1e242c;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 16px;
  font-weight: 500;
  text-shadow: -1px 3px 3px rgba(0, 0, 0, 0.33);
}

.discover__text {
  font-size: 16px;
  color: #6c7787;
  max-width: 380px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 40px;
}

.discover__lists {
  display: flex;
  gap: 8px;
  justify-content: center;
  border-bottom: 1px solid rgba(108, 119, 135, 0.2196078431);
}
.discover__lists > button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 32px;
  font-size: 16px;
  color: #6c7787;
  cursor: pointer;
  border: none;
  background-color: #fafafa;
}

.discover__card-avatar {
  margin-bottom: 7px;
}

.discover__card-raiting {
  margin-bottom: 7px;
}

.discover__card {
  background-color: white;
  width: 292px;
  text-align: center;
  padding: 24px;
  border-radius: 20px;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.062745098);
  transition: all 0.5s;
}
.discover__card p {
  margin-bottom: 21px;
}
.discover__card:hover {
  transform: scale(1.1);
  background-color: #e6f0ff;
  border: 1px solid #8ab9ff;
}

.discover__card-profession {
  display: flex;
  justify-content: center;
}
.discover__card-profession div {
  border: 1px solid #EDEDED;
  border-radius: 56px;
  padding: 4px 12px;
}

.discover__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  margin-bottom: 52px;
  margin-top: 40px;
}

.online {
  position: absolute;
  top: 72px;
  left: 165px;
}

.discover__view {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #0066ff;
  border-radius: 100px;
  padding: 14px 16px;
  gap: 16px;
  max-width: 150px;
  margin: 0 auto;
}
.discover__view img {
  position: absolute;
  top: 3px;
  left: 105px;
  background-color: #0066ff;
}

.discover__arrow {
  border-radius: 50%;
  right: 4px;
}

.choose {
  margin-bottom: 170px;
}

.choose__title {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 520px;
  margin: 0 auto;
  margin-bottom: 16px;
  font-size: 56px;
  text-align: center;
  font-weight: 400;
}

.choose__text {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 500px;
  margin: 0 auto 80px;
  text-align: center;
}

.choose__card {
  background-color: white;
  width: 260px;
  height: 228px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 24px;
  border-radius: 20px;
}
.choose__card img {
  margin-bottom: 16px;
}
.choose__card h4 {
  margin-bottom: 8px;
}
.choose__card p {
  text-align: center;
  margin-bottom: 16px;
  color: #6c7787;
}
.choose__card button {
  color: white;
  background-color: #3385ff;
  border: none;
  padding: 8px 24px;
  border-radius: 100px;
}

.choose__card-miny {
  background-color: white;
  width: 260px;
  height: 93px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 24px;
  border-radius: 20px;
  gap: 12px;
}

.card__wrapper {
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.card__wrapper > div {
  box-shadow: 10px 10px 36px -10px rgba(71, 105, 204, 0.3);
  -webkit-box-shadow: 10px 10px 36px -10px rgba(71, 105, 204, 0.3);
  -moz-box-shadow: 10px 10px 36px -10px rgba(71, 105, 204, 0.3);
}

.choose__card-content h4 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 5px;
}
.choose__card-content p {
  font-size: 12px;
  color: #6c7787;
}

.choose__content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 56px;
}
.choose__content div {
  z-index: 3;
}

.choose__arrow-top {
  position: absolute;
  top: 10px;
  right: 400px;
}

.choose__arrow-bottom {
  position: absolute;
  bottom: 10px;
  left: 400px;
}

.choose__circle-first {
  position: absolute;
  z-index: 0;
}

.choose__circle-second {
  position: absolute;
}

.choose__circle-third {
  position: absolute;
}

.choose__video {
  z-index: 3;
}

.happy {
  margin-bottom: 170px;
}

.happy__title {
  text-align: center;
  max-width: 650px;
  margin: 0 auto;
  font-size: 56px;
  font-weight: 400;
  margin-bottom: 16px;
}

.happy__text {
  text-align: center;
  max-width: 650px;
  margin: 0 auto;
  color: #6c7787;
  margin-bottom: 40px;
}

.happy__wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.happy__gradient {
  position: absolute;
  bottom: 20px;
  height: 167px;
  width: 1440px;
  background: linear-gradient(0deg, rgba(248, 248, 248, 0.75) 40%, rgba(248, 248, 248, 0) 60%);
  background: -moz-linear-gradient(0deg, rgba(248, 248, 248, 0.75) 40%, rgba(248, 248, 248, 0) 60%);
}

.works__title {
  font-size: 56px;
  margin-bottom: 48px;
  font-weight: 400;
}

.works__card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  background-color: white;
  padding: 24px;
  border-radius: 20px;
  box-shadow: 2px 17px 31px 7px rgb(173, 170, 173);
}
.works__card h4 {
  font-size: 22px;
  font-weight: 400;
}
.works__card p {
  color: #6c7787;
}

.works__list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.works__number {
  font-size: 90px;
  color: #c6cad1;
}

.works__lists {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.works__reverse {
  flex-direction: row-reverse;
  justify-content: start;
}

.works__content-wrapper {
  display: flex;
  gap: 100px;
  justify-content: center;
}

.works__content-right {
  display: flex;
  gap: 24px;
}

.works__images {
  display: flex;
}

.works__content h4 {
  color: #0066ff;
}

.works__images-wrapper {
  position: absolute;
  display: flex;
  background-color: white;
  gap: 16px;
  padding: 16px;
  margin-top: 40px;
  border-radius: 20px;
}

.portfolios {
  margin-bottom: 88px;
}

.portfolios__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 88px 100px 40px;
}

.portfolios__title {
  font-size: 56px;
  font-weight: 400;
}

.porfolios__buttons {
  display: flex;
  align-items: center;
  gap: 16px;
}
.porfolios__buttons button {
  border: none;
  cursor: pointer;
  padding: 24px 28px;
  border-radius: 50%;
}
.porfolios__buttons button:hover {
  transition: all 1s;
  background-color: #0066ff;
}
.porfolios__buttons button:hover img {
  color: white;
}

.portfolio__cards {
  display: flex;
  gap: 24px;
  overflow-x: scroll;
}

.porfolio__card {
  width: 461px;
}

.portfolio__slide {
  position: relative;
  border-radius: 20px;
  width: 460px;
  height: 600px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 32px;
}
.portfolio__slide button {
  background-color: white;
  padding: 15px;
  border-radius: 50%;
  border: none;
}
.portfolio__slide button:hover {
  background-color: #0066ff;
}
.portfolio__slide button:hover img {
  background-color: #0066ff;
}
.portfolio__slide img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: white;
}
.portfolio__slide h4 {
  display: flex;
  color: white;
}
.portfolio__slide p {
  color: #edeef0;
}

.swiper__gradient {
  padding: 30px;
  border-radius: 20px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  display: flex;
  width: 460px;
  justify-content: space-between;
  background: #000000;
  background: linear-gradient(0deg, #000000 10%, rgba(0, 0, 0, 0) 90%);
  background: -moz-linear-gradient(0deg, #000000 10%, rgba(0, 0, 0, 0) 90%);
}

.say {
  margin-bottom: 80px;
}

.say__top {
  margin-bottom: 40px;
  margin-left: 110px;
}
.say__top h2 {
  font-size: 67px;
  font-weight: 400;
}

.saySwiper {
  max-width: 700px;
  min-height: 500px;
  padding: 67px 94px;
  background-color: #1E242C;
  border-radius: 20px;
}

.say__slide {
  background-color: #1E242C;
  display: flex;
  flex-direction: column;
}
.say__slide p {
  margin-bottom: 40px;
  color: white;
}
.say__slide h3 {
  color: white;
  margin-bottom: 40px;
  font-size: 40px;
  font-weight: 400;
}

.say__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.say__navigation {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.say__navigation button {
  padding: 20px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}
.say__navigation :hover {
  background-color: #0066ff;
  color: white;
}

.help__title {
  font-size: 56px;
  font-weight: 400;
}

.help {
  margin-bottom: 88px;
}

.help__questions {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: flex-start;
}

.help__question {
  position: relative;
  display: flex;
  align-items: flex-start;
  border: 1px solid #E6E9EA;
  width: 600px;
  padding: 24px;
  border-radius: 20px;
  flex-wrap: wrap;
  gap: 15px;
}
.help__question div:nth-child(1) {
  display: flex;
  align-items: flex-start;
  justify-content: start;
  padding: 13px;
  background-color: #edeef0;
  border-radius: 20px;
}
.help__question img {
  width: 100%;
  height: 100%;
}
.help__question button {
  position: absolute;
  top: 24px;
  right: 24px;
  background-color: white;
  border: none;
  cursor: pointer;
}

.help__wrapper {
  margin-left: 100px;
}

.help__answer {
  display: none;
  font-weight: 300;
}

.help__quest {
  font-size: 24px;
  max-width: 440px;
}

.answer__active {
  box-shadow: 24px 29px 45px -16px rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: 24px 29px 45px -16px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 24px 29px 45px -16px rgba(0, 0, 0, 0.23);
  background-color: #e6f0ff;
  border: 1px solid #8ab9ff;
}
.answer__active div:nth-child(1) {
  background-color: white;
}
.answer__active button {
  background-color: #e6f0ff;
}
.answer__active :nth-child(3) {
  color: #6c7787;
  display: block;
  font-size: 14px;
  max-width: 400px;
  margin-left: 60px;
}
.answer__active img {
  transform: rotate(45deg);
}

.join {
  margin-bottom: 75px;
}

.join__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 88px;
  padding-bottom: 55px;
  border-radius: 24px;
  background-image: url(/img/Backgroudn\ Gradient.svg);
  background-repeat: no-repeat;
  background-position-y: -260px;
  box-shadow: -1px 33px 135px -69px rgba(55, 31, 199, 0.34);
  -webkit-box-shadow: -1px 33px 135px -69px rgba(55, 31, 199, 0.34);
  -moz-box-shadow: -1px 33px 135px -69px rgba(55, 31, 199, 0.34);
}

.join__title {
  font-size: 40px;
  font-weight: 400;
  max-width: 670px;
  text-align: center;
  margin-bottom: 16px;
}

.join__text {
  font-size: 16px;
  color: #6c7787;
  max-width: 560px;
  text-align: center;
  margin-bottom: 32px;
}

.join__mail {
  display: flex;
  gap: 8px;
}
.join__mail button {
  border: none;
  background-color: #3385ff;
  padding: 16px 48px;
  border-radius: 100px;
  color: white;
}

.join__input {
  position: relative;
  background-color: #f2f2f3;
  box-shadow: 10px 10px 74px -14px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 10px 10px 74px -14px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 10px 10px 74px -14px rgba(0, 0, 0, 0.25);
}
.join__input input {
  background-color: #ffffff;
  border: none;
  border: 1px solid #edeef0;
  display: flex;
  padding: 16px 50px;
  gap: 8px;
  background-color: #ffffff;
  border-radius: 56px;
  width: 384px;
}
.join__input img {
  position: absolute;
  top: 13px;
  left: 14px;
}

.footer__logo {
  color: #0066ff;
  font-size: 23px;
  margin-bottom: 33px;
}

.footer__corporate {
  margin-bottom: 30px;
}

.footer__content {
  display: flex;
  justify-content: space-between;
}

.footer__content-left {
  margin-bottom: 100px;
  max-width: 450px;
}
.footer__content-left p {
  font-size: 18px;
  color: #282828;
  font-weight: 300;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer__content-right {
  display: flex;
  justify-content: center;
  gap: 200px;
}

.footer__firstlist {
  font-weight: 500;
  margin-bottom: 13px;
  list-style: none;
  font-size: 18px;
}
.footer__firstlist a {
  color: #1e242c;
  text-decoration: none;
}

.footer__list {
  margin-bottom: 13px;
  font-size: 18px;
  list-style: none;
  font-weight: 300;
}
.footer__list a {
  color: #6c7787;
  text-decoration: none;
}

.coptright__wrapper {
  display: flex;
  justify-content: space-between;
}
.coptright__wrapper p {
  color: #002b6b;
}

.social {
  display: flex;
  gap: 20px;
}