.background__top{
    background: url(/img/Backgroudn_Gradient_header.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.background__bottom{
    background: url(/img/Backgroudn_Gradient_footer.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 30px;
    background-position-y: 100px;
}