.background{
    background: url(/img/Backgroudn\ Gradient.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.background__bottom{
    background: url(/img/Backgroudn\ Gradient.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 30px;
    background-position-y: 100px;
}