
.header{
    padding: 24px;
    margin-bottom: 45px;
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header__logo {
    color: white;
    font-size: 23px;
}
.header__links {
    display: flex;
    gap: 40px;
    a{
        text-decoration: none;
        color: $color-neutral-800;
    }
}
.header__register {
    position: relative;
    display: flex;
    align-items: center;
    color: white;
    border: 1px solid white;
    border-radius: 100px;
    padding: 14px 30px;
    gap: 20px;
}
.header__arrow {
    padding: 5px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 6px;
    right: 4px;
}