$color-primary-50: #e6f0ff;
$color-primary-100: #b0d0ff;
$color-primary-200: #8ab9ff;
$color-primary-300: #5498ff;
$color-primary-400: #3385ff;
$color-primary-500: #0066ff;
$color-primary-600: #005de8;
$color-primary-700: #0048b5;
$color-primary-800: #00388c;
$color-primary-900: #002b6b;

$color-neutral-50: #edeef0;
$color-neutral-100: #c6cad1;
$color-neutral-200: #aab1ba;
$color-neutral-300: #848d9b;
$color-neutral-400: #6c7787;
$color-neutral-500: #475569;
$color-neutral-600: #6c7787;
$color-neutral-700: #414d60;
$color-neutral-800: #272f3a;
$color-neutral-900: #1e242c;