.works {
}
.works__content-left {

}
.works__title {
    font-size: 56px;
    margin-bottom: 48px;
    font-weight: 400;
}
.works__card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    background-color: white;
    padding: 24px;
    border-radius: 20px;
    -webkit-box-shadow: 2px 17px 31px 7px rgba(173,170,173,1);
    -moz-box-shadow: 2px 17px 31px 7px rgba(173,170,173,1);
    box-shadow: 2px 17px 31px 7px rgba(173,170,173,1);
    h4{
        font-size: 22px;
        font-weight: 400;
    }
    p{
        color: $color-neutral-600;
    }
}
.works__list{
    display: flex;
    align-items: center;
    gap: 24px;
}

.works__number{
    font-size: 90px;
    color: $color-neutral-100;
}

.works__lists{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.works__reverse{
    flex-direction: row-reverse;
    justify-content: start;
}

.works {
}

.works__content-wrapper {
    display: flex;
    gap: 100px;
    justify-content: center;
}
.works__content-left {
}
.works__title {
}
.works__lists {
}
.works__list {
}
.works__number {
}
.works__card {
}
.works__reverse {
}
.works__content-right {
    display: flex;
    gap: 24px;
}
.works__images {
    display: flex;

}
.works__content {
    h4{
        color: $color-primary-500;
    }
}

.works__images-wrapper{
    position: absolute;
    display: flex;
    background-color: white;
    gap: 16px;
    padding: 16px;
    margin-top: 40px;
    border-radius: 20px;
}


.works__image-first {
    
}
.works__image-second {
}
.works__image-third {
}